@using System.Globalization
@using WebApplication.Lib.Bll
@using WebApplication.Lib.Bll.Lang
@using WebApplication.Lib.Bll.SystemSetting
@using WebApplication.Lib.Util.Constant
@using WebApplication.Models.Product

@{
    var lang = new LangValue(LangValue.LangEnum.Vi, LangValue.DictionaryEnum.CmsProductView);

    Layout = "~/Views/Shared/ShopMain/_ShopMainLayout.cshtml";

    var product = (ProductViewModel)ViewBag.Product;

    if (product.Reviews == null)
    {
        product.Reviews = new List<ProductReviewModel>();
    }

    ViewBag.Title = ViewTitleBll.Title(product.Name);

    product.Reviews = product.Reviews.Where(m => m.Status == StatusEnum.ReviewEnum.Status.Approve).ToList();

    var count = 1;

    var cul = CultureInfo.GetCultureInfo("vi-VN");

    var user = UserBll.GetUser();

    var relatedProducts = (List<ProductThumbnailModel>)ViewBag.RelatedProduct ?? Enumerable.Empty<ProductThumbnailModel>().ToList();
    var standInfor = ViewBag.Stand;

}

<div class="b-breadcrumbs f-breadcrumbs">
    <div class="container">
        <ul>
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-home"></i>@lang.GetValue(LangValue.CmsProduct.View.Home)
                </a>
            </li>
            @if (product.Category.ParentCategory != null)
            {
                <li>
                    <i class="fa fa-angle-right"></i>
                    <a href="@Url.Action("Category", "Product", new {id = product.Category.ParentCategory.Id})">
                        @product.Category.ParentCategory.Name
                    </a>
                </li>
            }
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="@Url.Action("Category", "Product", new {id = product.Category.Id})">
                    @product.Category.Name
                </a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="@Url.Action("View", "Product", new {id = product.Id})">
                    @product.Name
                </a>
            </li>
        </ul>
    </div>
</div>
<section class="b-infoblock">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("../Home/ShopMain/ShopMain.CategoryPartial", null)
            </div>
            <div class="col-md-9 ">
                <div class="b-shortcode-example">
                    <div class="f-primary-b b-title-b-hr f-title-b-hr b-null-top-indent">@product.Name</div>
                    <div class="b-product-card b-default-top-indent">
                        <div class="b-product-card__visual-wrap">
                            <div class="flexslider b-product-card__visual flexslider-zoom">
                                <ul class="slides">
                                    <li>
                                        <img src="@Url.Action("View", "Image", new {id = product.Cover})" alt="">
                                    </li>
                                    @foreach (var imgId in product.Gallery)
                                    {
                                        <li>
                                            <img src="@Url.Action("View", "Image", new {id = imgId})">
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="flexslider flexslider-thumbnail b-product-card__visual-thumb carousel-sm">
                                <ul class="slides">
                                    <li>
                                        <img src="@Url.Action("View", "Image", new {id = product.Cover})" alt="">
                                    </li>
                                    @foreach (var imgId in product.Gallery)
                                    {
                                        <li>
                                            <img src="@Url.Action("View", "Image", new {id = imgId})">
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="b-product-card__info">
                            <h4 class="f-primary-b b-h4-special f-h4-special">@lang.GetValue(LangValue.CmsProduct.View.Information)</h4>
                            <div class="b-product-card__info_row">
                                <div class="b-product-card__info_title f-primary-b f-title-smallest">@lang.GetValue(LangValue.CmsProduct.View.Price)</div>
                                <span class="f-product-card__info_price c-default f-primary-b">@product.Price.ToString("#,###", cul.NumberFormat) VND  </span>
                            </div>
                            <div class="b-product-card__info_row">
                                <div class="b-product-card__info_description f-product-card__info_description">
                                    @Html.Raw(product.ShortDescription)
                                </div>
                            </div>
                            <div class="b-product-card__info_row">
                                <div class="b-product-card__info_count">
                                    <input type="number" name="quantity" value="1" size="5" min="@(product.Quantity <= 0 ? 0 : 1)" max="@(product.Quantity <= 0 ? 0 : product.Quantity)" id="input-quantity" class="form-control form-control--secondary" placeholder="1">
                                </div>
                                <div class="b-product-card__info_add b-margin-right-standard">
                                    <div class="b-btn f-btn b-btn-sm-md f-btn-sm-md" id="button-cart">
                                        <i class="fa fa-shopping-cart"></i> @lang.GetValue(LangValue.CmsProduct.View.AddToCart)
                                        <input type="hidden" name="product_id" id="product_id" value="@product.Id">
                                        <input type="hidden" name="product_name" id="product_name" value="@product.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="b-product-card__info_row">
                                <div class="b-product-card__info_title f-primary-b f-title-smallest">Danh Mục</div>
                                <a class="f-more f-title-smallest" href="@Url.Action("Category", "Product", new {id = product.CategoryId})">@product.Category.Name</a>
                            </div>
                            <div class="b-product-card__info_row">

                                <div class="b-btn-group-hor f-btn-group-hor">
                                    <div class="b-article__social">
                                        <span class="b-article__social-info-name f-article__social-info-name"><i class="fa fa-share-square"></i> Share this post :</span>
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url.AbsoluteUri" class="b-btn-group-hor__item f-btn-group-hor__item" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="https://twitter.com/intent/tweet?button_hashtag=phunumart" class="b-btn-group-hor__item f-btn-group-hor__item">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item" onclick="window.open('https://plus.google.com/share?url='+ window.location.href, 'google-plus-share', 'width=490,height=530');return false;">
                                            <i class="fa fa-google"></i>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                @if (standInfor != null && standInfor.StandId > 0)
                {
                    <div class="f-primary-b">
                        Sản phẩm thuộc gian hàng :
                        <a href="/Product/Stand?standId=@(standInfor.StandId)" class="f-more f-title-smallest">@standInfor.StandName</a>
                    </div>
                }
                <div class="b-shortcode-example">
                    <div class="b-tabs f-tabs j-tabs b-tabs-reset">
                        <ul>
                            <li><a href="#tabs-21">@lang.GetValue(LangValue.CmsProduct.View.Description)</a></li>
                            <li><a href="#tabs-22">@lang.GetValue(LangValue.CmsProduct.View.Reviews)</a></li>
                            @if (standInfor != null && standInfor.StandId > 0)
                            {
                                <li><a href="#tabs-23">Thông tin chi tiết gian hàng @standInfor.StandName</a></li>
                            }

                        </ul>
                        <div class="b-tabs__content">
                            <div id="tabs-21">
                                <h4 class="f-tabs-vertical__title f-primary-b">@lang.GetValue(LangValue.CmsProduct.View.ProductDescription)</h4>
                                @Html.Raw(product.Description)
                            </div>
                            <div id="tabs-22">
                                @if (product.Reviews == null || product.Reviews.Count == 0)
                                {
                                <p>Không có nhận xét nào cho sản phẩm này.</p>
                                }
                                else
                                {
                                    foreach (var productReviewModel in product.Reviews)
                                    {

                                <h4 class="f-tabs-vertical__title f-primary-b">@productReviewModel.User.Firstname @productReviewModel.User.Lastname</h4>
                                <p>@productReviewModel.ReviewMessage</p>
                                        if (user != null && (user.RoleId == RoleEnum.Admin || user.RoleId == RoleEnum.Manager))
                                        {
                                <div class="row">
                                    <div class="pull-right">
                                        <a href="#" onclick="productManager.deleteReview(@productReviewModel.ReviewId)" title="Delete review" class="btn btn-link btn-sm">
                                            <span class="li_trash"></span> Xóa
                                        </a>
                                    </div>
                                </div>
                                        }
                                    }

                                }
                                <div class="review-form-title">
                                    <h3 class="product-section_title close-tab" id="reviews_form_title">Viết review</h3>
                                </div>
                                <div class="form-horizontal" id="reviews_form">
                                    <div class="form-group required">
                                        <label for="txtOrderCode" class="col-sm-2 control-label">Mã Hóa Đơn</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="txtOrderCode" placeholder="Order Code">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label col-sm-2" for="input-review">Review của bạn</label>
                                        <div class="col-sm-10">
                                            <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                            <div class="help-block">
                                                <span class="text-danger">Lưu ý:</span> Không chấp nhận mã HTML!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-10">
                                            <div class="pull-right">
                                                <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Tiếp tục</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (standInfor != null && standInfor.StandId > 0)
                            {
                                <div id="tabs-23">
                                    <div class="view-stand">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-letf"><b>Tên gian hàng</b></div>
                                                <div class="col-right">
                                                    @standInfor.StandName
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-letf">
                                                    <b>Địa chỉ</b>
                                                </div>
                                                <div class="col-right">
                                                    @standInfor.Address
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-letf">
                                                    <b>Sđt liên hệ</b>
                                                </div>
                                                <div class="col-right">
                                                    @standInfor.Phone
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-letf">
                                                    <b>Giới thiệu chung</b>
                                                </div>
                                                <div class="col-right">
                                                    @standInfor.Description
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-letf">
                                                    <b>Hình thức giao dịch</b>
                                                </div>
                                                <div class="col-right">
                                                    @standInfor.PayMethod
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="f-primary-b b-h4-special f-h4-special">@lang.GetValue(LangValue.CmsProduct.View.ProductRelated)</h4>
                    <div class="row">
                        <div class="b-col-default-indent">
                            @foreach (var p in relatedProducts)
                            {
                                <div class="col-md-4 col-sm-4 col-xs-6 col-mini-12">
                                    <div class="b-product-preview">
                                        <div class="b-product-preview__img view view-sixth">
                                            <div class="img-container">
                                                <img data-retina src="@Url.Action("View", "Image", new {id = p.Cover})" alt="" />
                                            </div>
                                            <div class="b-item-hover-action f-center mask">
                                                <div class="b-item-hover-action__inner">
                                                    <div class="b-item-hover-action__inner-btn_group">
                                                        <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="@Url.Action("View", "Product", new {id = p.Id})" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                                    </div>
                                                    <span class="b-product-preview__content_price f-product-preview__content_price f-primary-b">@p.Price.ToString("#,###", cul.NumberFormat) đ</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b-product-preview__content">
                                            <div class="b-product-preview__content_col">
                                            </div>
                                            <div class="b-product-preview__content_col">
                                                <a href="@Url.Action("View", "Product", new {id = p.Id})" class="f-product-preview__content_title product-title">@p.Name</a>
                                                <div class="f-product-preview__content_category f-primary-b">
                                                    <a href="@Url.Action("Category", "Product", new {id = p.Category.Id})">@p.Category.Name</a>
                                                </div>
                                                <div class="f-product-preview__content_category f-primary-b">
                                                    <a href="@Url.Action("View", "Product", new {id = product.Id})" class="f-product-preview__content_title product-price">@product.Price.ToString("#,###", cul.NumberFormat) VND</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                switch (count)
                                {
                                    case 2:
                                        <div class="clearfix visible-xs-block"></div>
                                        break;
                                    case 3:
                                        <div class="clearfix hidden-xs"></div>
                                        break;
                                }

                                count++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section ExtendScript {
    <script type="text/javascript">
        $(document)
            .ready(function () {
                $('.img-container img').centerImage();
            });
    </script>

    <script src="~/Scripts/Shop/Product/product-view-controller.js"></script>
    <script>

        var productManager = new ProductViewManager({
            id: "@product.Id",
            name: "@product.Name",
            quantity: "@product.Quantity",
            url: {
                deleteUrl: "@Url.Action("DeleteReview", "Review")"
            }
        });

        productManager.initEvents();

        $("#submenu-content-@product.CategoryId").addClass("in");
        $("#left-menu-category-id-@product.CategoryId").addClass("menu-activated");
    </script>

    @if (product.Category.ParentCategory != null)
    {
        <script>
            $("#left-menu-category-id-@product.Category.ParentCategory.Id").addClass("menu-activated");
            $("#submenu-content-@product.Category.ParentCategory.Id").addClass("in");
        </script>
    }
}