@using WebApplication.Lib.Bll
@using WebApplication.Lib.Util.Constant
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/AdminCp/_AdminLayout.cshtml";

    bool? isSaveSuccess = null;

    if (ViewBag.IsSaveSuccess != null)
    {
        isSaveSuccess = (bool)ViewBag.IsSaveSuccess;
    }

    var settings = (Dictionary<string, string>)ViewBag.Settings;

    string numberOfOrderOnEachDayStr;

    settings.TryGetValue(SettingsBll.SettingNames.OrderLimitedOfEachDay, out numberOfOrderOnEachDayStr);

}

@section breadcrumbs
{
    <li><a href="@Url.Action("Index", "Settings")">@MessageEnum.Breadcrumbs.SettingBreadcrumb.Setting</a></li>
    <li><span>@MessageEnum.Breadcrumbs.SettingBreadcrumb.Order</span></li>
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">@MessageEnum.Breadcrumbs.SettingBreadcrumb.Index</h4>
            </div>
            <div class="panel-body">
                @Html.Partial("SettingSelectionPartial")
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Cấu Hình Order</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    @using (Html.BeginForm("Order", "Settings", FormMethod.Post))
                    {
                        <div class="col-sm-9">
                            <fieldset>
                                <legend id="legendMaximumOrdersOfEachDay"><span>Maximum orders of each day</span></legend>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="number" name="NumberOfOrderEachDay" class="form-control" rows="10" value="@numberOfOrderOnEachDayStr" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-3">
                            <div style="position: fixed">
                                <fieldset>
                                    <legend>Cấu Hình Footer</legend>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="form-control-static">
                                                <li>
                                                    <a href="#legendMaximumOrdersOfEachDay">Order</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>&nbsp;</legend>
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="submit" value="Lưu" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@section CustomScript
{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" href="~/Scripts/ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css">
    <script src="~/Scripts/AdminCP/Settings/SettingFooterController.js"></script>

    <script>
        SettingFooterController.init();
    </script>

    @if (isSaveSuccess != null)
    {
        if (isSaveSuccess.Value)
        {
            <script>
                NotificationUtil.successMessage("Cập nhật thành công.")
            </script>
        }
        else
        {
            <script>
                NotificationUtil.warningMessage(ShopMessage.error.connectionFail);
            </script>
        }
    }
}
