@using System.Globalization
@using WebApplication.Lib.Bll.Lang
@using WebApplication.Models.Product
@{
    var lang = new LangValue(LangValue.LangEnum.Vi, LangValue.DictionaryEnum.CmsHomeIndex);

    var productThumbnails = Enumerable.Empty<ProductThumbnailModel>().ToList();

    var modelList = new ProductThumbnailModelList();

    if (Model != null)
    {
        modelList = (ProductThumbnailModelList)Model;

        if (modelList.ProductThumbnailModels != null)
        {
            productThumbnails = modelList.ProductThumbnailModels;
        }
    }

    var cul = CultureInfo.GetCultureInfo("vi-VN");

    var count = 0;
}


<div class="b-default-top-indent b-carousel-reset b-carousel-arr-out b-carousel-small-arr f-carousel-small-arr b-remaining">
    <div class="f-center b-logo-group j-logo-slider">
        @foreach (var product in productThumbnails)
        {
            <div class="col-md-8 col-sm-8 col-xs-12 col-mini-12">
                <div class="b-product-preview">
                    <div class="b-product-preview__img view view-sixth">
                        <img data-retina src="@Url.Action("View", "Image", new {id = product.Cover})" alt="@product.Name" />
                        <div class="b-item-hover-action f-center mask">
                            <div class="b-item-hover-action__inner">
                                <div class="b-item-hover-action__inner-btn_group">
                                    <a href="#" class="b-btn f-btn b-btn-light f-btn-light info" title="@lang.GetValue(LangValue.CmsHome.Index.AddCart)"
                                       onclick="CartController.add({ id: '@product.Id', quantity: 1, name: '@product.Name' })">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                    <a href="@Url.Action("View", "Product", new {id = product.Id})" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-product-preview__content">
                        <div class="b-product-preview__content_col">
                            <a href="@Url.Action("View", "Product", new {id = product.Id})" class="f-product-preview__content_title">@product.Name</a>
                            <div class="f-product-preview__content_category f-primary-b">
                                <a href="@Url.Action("Category", "Product", new {id = product.Category.Id})">@product.Category.Name</a>
                            </div>
                        </div>
                        <div class="b-product-preview__content_col">
                            <span class="b-product-preview-row_price f-primary-b c-default f-title-medium">@product.Price.ToString("#,###", cul.NumberFormat) VND</span>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>