<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
    <html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]>
    <html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <base />
    <meta name="description" content="Phụ Nữ Mart" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/Content/view/image/catalog/favicon.png" rel="icon" />

    <script src="~/Content/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <link href="~/Content/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="~/Content/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="~/Content/view/javascript/camera/css/camera.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/view/theme/v1/js/fancybox/jquery.fancybox.css" media="screen" />
    <link href="~/Content/view/theme/v1/stylesheet/livesearch.css" rel="stylesheet">
    <link href="~/Content/view/theme/v1/stylesheet/owl-carousel.css" rel="stylesheet">
    <link href="~/Content/view/theme/v1/stylesheet/photoswipe.css" rel="stylesheet">
    <link href="~/Content/view/theme/v1/js/jquery.bxslider/jquery.bxslider.css" rel="stylesheet">
    <link href="~/Content/view/theme/v1/font/flaticon.css" rel="stylesheet">
    <link href="~/Content/view/theme/v1/stylesheet/stylesheet.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    @RenderSection("StyleSheetSection", false)

    <link href="~/Content/view/pnmart.css" rel="stylesheet"/>

    <!-- sticky -->
    <link rel="stylesheet" href="~/Content/AdminCP/js/lib/Sticky/sticky.css">

    <script src="~/Content/view/javascript/camera/camera.js" type="text/javascript"></script>
    <script src="~/Content/view/javascript/jquery/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <script src="~/Content/view/theme/v1/js/common.js" type="text/javascript"></script>
    <script src="~/Content/view/theme/v1/js/tmstickup.js" type="text/javascript"></script>
    <script src="~/Content/view/theme/v1/js/jquery.unveil.js" type="text/javascript"></script>
    <script src="~/Content/view/theme/v1/js/jquery.bxslider/jquery.bxslider.js" type="text/javascript"></script>
    <script src="~/Content/view/theme/v1/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/Content/view/theme/v1/js/elavatezoom/jquery.elevatezoom.js" type="text/javascript"></script>
    <script src="~/Content/view/theme/v1/js/superfish.js" type="text/javascript"></script>
    <script src="~/Content/view/theme/v1/js/jquery.ui.totop.js"></script>
    <script src="~/Content/view/theme/v1/js/owl.carousel.min.js"></script>

    <script src="~/Content/view/theme/v1/js/greensock/jquery.gsap.min.js" type="text/javascript"></script>
    <script src="~/Content/view/theme/v1/js/greensock/TimelineMax.min.js" type="text/javascript"></script>
    <script src="~/Content/view/theme/v1/js/greensock/TweenMax.min.js" type="text/javascript"></script>
    <script src="~/Content/view/theme/v1/js/greensock/jquery.scrollmagic.min.js" type="text/javascript"></script>

    <script src="~/Content/view/theme/v1/js/photo-swipe/klass.min.js" type="text/javascript"></script>
    <script src="~/Content/view/theme/v1/js/photo-swipe/code.photoswipe.jquery-3.0.5.js" type="text/javascript"></script>
    <script src="~/Content/view/theme/v1/js/photo-swipe/code.photoswipe-3.0.5.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
        <div style='clear: both; height: 59px; padding: 0 15px 0 15px; position: relative; z-index: 10000; text-align: center;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode">
                <img
                    src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                    height="42" width="820"
                    alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
            </a>
        </div><![endif]-->
</head>
<body class="common-home">

    <div class="swipe">
        @RenderPage("_ShopSwipeMenuSection.cshtml")
    </div>
    <div id="page">
        <div class="shadow"></div>
        <div class="toprow-1">
            <a class="swipe-control" href="#">
                <i class="fa fa-align-justify"></i>
            </a>
        </div>
        <header class="header">
            @RenderPage("_ShopHeaderSection.cshtml")
            @RenderSection("MenuSection", false)
        </header>
        @RenderPage("_ShopCategorySection.cshtml")

        <div class="header_modules"></div>
        <div class="header_modules"></div>
        <div id="container">
            <div class="container">
                <div class="row">
                    @RenderSection("CategoryColumn", false)
                    @RenderBody()
                </div>
            </div>
        </div>

        @RenderPage("_ShopFooterSection.cshtml")
        <script src="~/Scripts/Numeral/numeral.min.js"></script>
        <script src="~/Scripts/MainShop/Authentication/AuthenticationController.js"></script>
        <script src="~/Scripts/Shop/shop-messages.js"></script>
        <script src="~/Scripts/autoNumeric/autoNumeric.js"></script>

        <script src="~/Content/view/theme/v1/js/livesearch.js" type="text/javascript"></script>
        <script src="~/Content/view/theme/v1/js/script.js" type="text/javascript"></script>
        <script src="~/Scripts/Shop/shopping-cart.js"></script>
        <script src="~/Scripts/Shop/cart-manager.js"></script>


        @RenderSection("ExtendScript", false)
    </div>

@*    <!-- Start of LiveChat (www.livechatinc.com) code -->*@
@*    <script type="text/javascript">*@
@*        window.__lc = window.__lc || {};*@
@*        window.__lc.license = 7632581;*@
@*        (function () {*@
@*            var lc = document.createElement('script');*@
@*            lc.type = 'text/javascript';*@
@*            lc.async = true;*@
@*            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';*@
@*            var s = document.getElementsByTagName('script')[0];*@
@*            s.parentNode.insertBefore(lc, s);*@
@*        })();*@
@*    </script>*@

    <script type='text/javascript'>window._sbzq || function (e) { e._sbzq = []; var t = e._sbzq; t.push(["_setAccount", 45873]); var n = e.location.protocol == "https:" ? "https:" : "http:"; var r = document.createElement("script"); r.type = "text/javascript"; r.async = true; r.src = n + "//static.subiz.com/public/js/loader.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i) }(window);</script>

<div id="fb-root"></div>

    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1001953203161792";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End of LiveChat code -->
</body>

</html>
