@using WebApplication.Models.Category;
@using WebApplication.Lib.Util.Constant;
    @{
        ViewBag.Title = "Danh sách đơn hàng";
        Layout = "~/Views/Shared/Shop/_ShopLayout.cshtml";

        var categoryModels = (List<CategoryManageList>)ViewBag.Categories;
        var user = (WebApplication.Models.User.UserModel)ViewBag.User;

        var resultModel = (WebApplication.Models.User.ResultModel)ViewBag.ListOrders;
        var trans = new List<WebApplication.Models.Order.OrderModel>();
        if (resultModel != null && resultModel.Code == 0)
        {
            trans = (List<WebApplication.Models.Order.OrderModel>)resultModel.Data;
        }
    }

    @section MenuSection
{
        @Html.Partial("../Home/IndexPartialPage/MenuPartial")
    }

    @section CategoryColumn
{
        @Html.Partial("../Home/IndexPartialPage/CategoryListPartial", categoryModels)
    }

    <div id="content" class="col-sm-9">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="@Url.Action("User", "Info")">Tài khoản</a></li>
            <li><a href="@Url.Action("List", "Order")">Danh sách đơn hàng</a></li>
        </ul>
        <div class="well">
            <div class="heading" style="border-bottom: 0px;">
                <i class="fa fa-star"></i>
                <h2>Danh sách đơn hàng</h2>
                <strong>Hiện thị tất cả đơn hàng của bạn</strong>
            </div>
            @if (user != null)
            {
                <fieldset>
                    <legend>Giao dịch</legend>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">

                            <div id="result-search">

                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="20%">Ngày GD</th>
                                            <th width="20%">Mã HĐ</th>
                                            <th width="20%">Tổng giá</th>
                                            <th width="20%">Trạng thái</th>
                                            <th width="20%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (trans != null)
                                        {
                                            foreach (var item in trans)
                                            {
                                                string statusText = "";
                                                string classText = "";

                                                switch (@item.Status)
                                                {
                                                    case StatusEnum.OrderEnum.OrderBySetting.Default:
                                                        statusText = "Mới";
                                                        classText = "label label-success";
                                                        break;

                                                    case StatusEnum.OrderEnum.OrderBySetting.OrderCode:
                                                        statusText = "Mã đặt hàng";
                                                        classText = "label label-primary";
                                                        break;

                                                    case StatusEnum.OrderEnum.OrderBySetting.New:
                                                        statusText = "Mới";
                                                        classText = "label label-success";
                                                        break;

                                                    case StatusEnum.OrderEnum.OrderBySetting.Completed:
                                                        statusText = "Hoàn tất";
                                                        classText = "label label-warning";
                                                        
                                                        break;

                                                    case StatusEnum.OrderEnum.OrderBySetting.Reject:
                                                        statusText = "Hủy";
                                                        classText = "label label-danger";
                                                        break;

                                                    case StatusEnum.OrderEnum.OrderBySetting.Purchased:
                                                        statusText = "Đã thanh toán";
                                                        classText = "label label-default";
                                                        break;

                                                    case StatusEnum.OrderEnum.OrderBySetting.Delevering:
                                                        statusText = "Đang giao hành";
                                                        classText = "label label-info";
                                                        break;
                                                }
                                                
                                                <tr>
                                                    <td>@item.CreatedDate</td>
                                                    <td>@item.Code</td>
                                                    <td style="text-align: right">@string.Format("{0:n0}", @item.TotalPrice) đ</td>
                                                    <td style="text-align: center; width: 100px;">
                                                        <span class="@classText">@statusText</span>
                                                    </td>
                                                    <td>
                                                        <a href="#" title="Xem chi tiết giao dịch"
                                                           data-id="@item.Id"
                                                           data-order-id="@item.Id"
                                                           data-order-code="@item.Code" onclick="getTransactionHistoryDetail(this)">
                                                            Chi tiết
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <fieldset>
                    <legend>Chi tiết giao dịch [<span id="span-tid"></span>]</legend>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div id="result-transaction-detail">

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="~/Scripts/jquery-scrollto.js"></script>
    <script src="~/Scripts/Shop/Transaction/transaction.js" type="text/javascript" language="JavaScript"></script>
