@using WebApplication.Models.Category
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/Shop/_ShopLayout.cshtml";
    var categoryModels = (List<CategoryManageList>)ViewBag.Categories;
    var resultModel = (WebApplication.Models.User.ResultModel)ViewBag.ResetPassword;
    var email = (String)ViewBag.Email;
    var token = (String)ViewBag.Token;
}
@section MenuSection
{
    @Html.Partial("../Home/IndexPartialPage/MenuPartial")
}

@section CategoryColumn
{
    @Html.Partial("../Home/IndexPartialPage/CategoryListPartial", categoryModels)
}

<div id="content" class="col-sm-9">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Tài khoản</a></li>
        <li><a href="@Url.Action("ResetPassword", "User")">Reset mật khẩu</a></li>
    </ul>
    <div class="well">
        <div class="heading" style="border-bottom: 0px;">
            <i class="fa fa-key"></i>
            <h2>Làm lại mật khẩu</h2>
            <strong>Tạo mật khẩu mới khi mất mật khẩu</strong>
        </div>
        @if (resultModel != null)
        {
            if (resultModel.Code == 0)
            {
                <div class="form-horizontal">
                    <fieldset>
                        <legend>Mật khẩu của bạn</legend>
                        <input type="hidden" value="@email" id="input-email" />
                        <input type="hidden" value="@token" id="input-token" />
                        <div class="form-group required">
                            <label class="col-sm-3 control-label" for="input-password">Mật khẩu mới</label>
                            <div class="col-sm-7">
                                <input type="password" name="passwordNew" value="" placeholder="Mật khẩu mới" id="input-password-new" class="form-control">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-3 control-label" for="input-confirm">Mật khẩu mới xác nhận</label>
                            <div class="col-sm-7">
                                <input type="password" name="passwordNewConfirm" value="" placeholder="Mật khẩu mới xác nhận" id="input-password-new-confirm" class="form-control">
                            </div>
                        </div>
                    </fieldset>
                    <div class="buttons">
                        <div class="col-sm-10">
                            <div class="pull-right">
                                <input type="button" value="Thay đổi" class="btn btn-primary" onclick="ResetPassword()">
                            </div>
                        </div>
                    </div>
                </div>
            }

            if (resultModel.Code != 0)
            {
                <fieldset>
                    <h1>@resultModel.Message</h1>
                </fieldset>
            }
        }
    </div>
</div>

<!-- Modal -->
<div id="success-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật mật khẩu mới</h4>
            </div>
            <div class="modal-body">
                <p>Bạn đã cập nhật mật khẩu thành công.</p>
                <p>Nhấp vào <a href="@Url.Action("Login","Authentication")">đây</a> để đăng nhập</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="window.location.replace('/');">Close</button>
            </div>
        </div>

    </div>
</div>
<script src="~/Scripts/MainShop/Authentication/AuthenticationController.js"></script>
